.topbar{
    background-color: red;
    height: 40px;
}
.banner{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 10px white;
}
.banner img{
    border-radius: 200px;
}
.promotion{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 18vh;
    align-items: center;
}
.promotion div{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 12vh;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: red;
    rotate: 360deg;
    transition: 1s;
}
